.form {
  display: flex;
  gap: 8px;
  margin: auto;
  margin-top: 36px;
  margin-bottom: 32px;
}

.form input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
}

.form input:hover {
  border: 1px solid #000000;
}

.form input:active,
.form input:focus {
  border: 1px solid #4e75ff;
}

.form input::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #808080;
}

.form > button {
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 8px 16px;
}

.form > button:hover {
  background-color: #6c8cff;
}

.loading {
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 24px;
}

.gallery-link {
  width: 360px;
  height: 200px;
  position: relative;
}

.gallery-link img {
  width: 360px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.gallery-link ul {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #808080;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.gallery-link ul p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  color: #2e2f42;
}

.gallery-link ul p span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
}

.load-more-button {
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 8px 16px;
  margin: 0 auto;
}

.load-more-button:hover {
  background-color: #6c8cff;
}

.back-to-top {
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 8px 16px;
  width: 172px;
}

.back-to-top:hover {
  background-color: #6c8cff;
}

.end-of-search {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #2e2f42;
  object-position: center;
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.loader {
  margin: 0 auto;
  padding: 32px 0;
}
